$text: #222222;
$subtitle: #757575;
$border: #BDBDBD;
$primary: rgb(247, 159, 200);

$nav-font: Creepster, Cursive;
$main-font: Merriweather, Georgia, serif;


$breakpoint-sm: 480px;
$breakpoint-md: 650px;
